# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: Build binary, container, and docs

permissions:
  contents: read
  # Azure login.
  id-token: write

on:
  workflow_call:
    inputs:
      publishType:
        required: true
        type: string
      runFunctionalTests:
        required: true
        type: boolean
      runVMTests:
        required: true
        type: boolean
    outputs:
      isLatestRelease:
        value: ${{ jobs.binary-build-amd64.outputs.isLatestRelease }}

jobs:
  binary-build-amd64:
    name: Build AMD64
    uses: ./.github/workflows/binary-build.yml
    with:
      publishType: ${{ inputs.publishType }}
      arch: amd64

  binary-build-arm64:
    name: Build ARM64
    uses: ./.github/workflows/binary-build.yml
    with:
      publishType: ${{ inputs.publishType }}
      arch: arm64

  build-docs:
    uses: ./.github/workflows/docs-build.yml

  tests-functional-azl3-amd64:
    name: Functional tests AZL3 AMD64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: amd64
      hostDistro: azl3

  tests-functional-azl3-arm64:
   name: Functional tests AZL3 ARM64
   if: ${{ inputs.runFunctionalTests }}
   uses: ./.github/workflows/tests-functional.yml
   with:
     hostArch: arm64
     hostDistro: azl3

  tests-functional-ubuntu2404-amd64:
    name: Functional tests Ubuntu24.04 AMD64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404

  tests-functional-ubuntu2404-arm64:
    name: Functional tests Ubuntu24.04 ARM64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: arm64
      hostDistro: ubuntu2404

  imagecreator-tests-functional-azl3-amd64:
    name: Functional tests AZL3 AMD64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/imagecreator-tests-functional.yml
    with:
      hostArch: amd64
      hostDistro: azl3

  imagecreator-tests-functional-ubuntu2404-amd64:
    name: Functional tests Ubuntu24.04 AMD64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/imagecreator-tests-functional.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404

  tests-vmtests-azl3-amd64:
    name: VMTests suite AZL3 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests.yml
    with:
      hostArch: amd64
      hostDistro: azl3

  tests-vmtests-ubuntu2404-amd64:
    name: VMTests suite Ubuntu24.04 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404

  tests-vmtests-ubuntu2404-arm64:
    name: VMTests suite Ubuntu24.04 ARM64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-arm64
    uses: ./.github/workflows/tests-vmtests.yml
    with:
      hostArch: arm64
      hostDistro: ubuntu2404

  tests-vmtests-imagecreator-azl3-amd64:
    name: VMTests suite image creator AZL3 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests-imagecreator.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404

  tests-vmtests-imagecreator-ubuntu2404-arm64:
    name: VMTests suite Ubuntu24.04 ARM64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-arm64
    uses: ./.github/workflows/tests-vmtests-imagecreator.yml
    with:
      hostArch: arm64
      hostDistro: ubuntu2404
