# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: Build binary, container, and docs

permissions: {}

on:
  workflow_call:
    inputs:
      publishType:
        required: true
        type: string
      runFunctionalTests:
        required: true
        type: boolean
      runVMTests:
        required: true
        type: boolean
    outputs:
      isLatestRelease:
        value: ${{ jobs.binary-build-amd64.outputs.isLatestRelease }}

jobs:
  binary-build-amd64:
    name: Build AMD64
    uses: ./.github/workflows/binary-build.yml
    with:
      publishType: ${{ inputs.publishType }}
      arch: amd64
    permissions:
      contents: read

  binary-build-arm64:
    name: Build ARM64
    uses: ./.github/workflows/binary-build.yml
    with:
      publishType: ${{ inputs.publishType }}
      arch: arm64
    permissions:
      contents: read

  build-docs:
    uses: ./.github/workflows/docs-build.yml
    permissions:
      contents: read

  tests-functional-azl3-amd64:
    name: Functional tests AZL3 AMD64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: amd64
      hostDistro: azl3
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-functional-azl3-arm64:
    name: Functional tests AZL3 ARM64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: arm64
      hostDistro: azl3
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-functional-ubuntu2404-amd64:
    name: Functional tests Ubuntu24.04 AMD64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-functional-ubuntu2404-arm64:
    name: Functional tests Ubuntu24.04 ARM64
    if: ${{ inputs.runFunctionalTests }}
    uses: ./.github/workflows/tests-functional.yml
    with:
      hostArch: arm64
      hostDistro: ubuntu2404
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-vmtests-imagecustomzer-azl3-amd64:
    name: VMTests imagecustomzer AZL3 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests.yml
    with:
      hostArch: amd64
      hostDistro: azl3
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-vmtests-imagecustomzer-ubuntu2404-amd64:
    name: VMTests imagecustomzer Ubuntu24.04 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-vmtests-imagecustomzer-ubuntu2404-arm64:
    name: VMTests imagecustomzer Ubuntu24.04 ARM64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-arm64
    uses: ./.github/workflows/tests-vmtests.yml
    with:
      hostArch: arm64
      hostDistro: ubuntu2404
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-vmtests-osmodifier-azl3-amd64:
    name: VMTests osmodifier AZL3 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests-osmodifier.yml
    with:
      hostArch: amd64
      hostDistro: azl3
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-vmtests-osmodifier-ubuntu2404-amd64:
    name: VMTests osmodifier Ubuntu24.04 AMD64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-amd64
    uses: ./.github/workflows/tests-vmtests-osmodifier.yml
    with:
      hostArch: amd64
      hostDistro: ubuntu2404
    permissions:
      contents: read
      # Azure login.
      id-token: write

  tests-vmtests-osmodifier-ubuntu2404-arm64:
    name: VMTests osmodifier Ubuntu24.04 ARM64
    if: ${{ inputs.runVMTests }}
    needs: binary-build-arm64
    uses: ./.github/workflows/tests-vmtests-osmodifier.yml
    with:
      hostArch: arm64
      hostDistro: ubuntu2404
    permissions:
      contents: read
      # Azure login.
      id-token: write
