# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: Build (dev)

permissions: {}

on:
  pull_request:
    branches:
    - main
    - release/*
  # Allow pipeline to be run manually.
  workflow_dispatch:
    inputs:
      runFunctionalTests:
        description: Run functional tests
        required: true
        type: boolean
        default: false
      functionalTestFilter:
        description: 'Functional test filter regex (e.g., TestCustomizeImage)'
        required: false
        type: string
        default: ''
      runVMTests:
        description: Run VMTests suite
        required: true
        type: boolean
        default: false

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      publishType: dev
      runFunctionalTests: ${{ inputs.runFunctionalTests || false }}
      functionalTestFilter: ${{ inputs.functionalTestFilter || '' }}
      runVMTests: ${{ inputs.runVMTests || false }}
    permissions:
      contents: read
      # Azure login.
      id-token: write
