# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: Fork release branch

permissions: {}

on:
  workflow_call: {}

jobs:
  fork-branch:
    name: Fork release branch
    runs-on: ubuntu-latest
    permissions:
      # Create release branch.
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        path: repo
        persist-credentials: true

    - name: Download build artifacts
      uses: actions/download-artifact@v5
      with:
        path: out
        name: version

    - name: Fork release branch
      run: |
        set -x

        VERSION=$(<"out/version.txt")
        MINOR_VERSION="$(grep -oP '^[0-9]+\.[0-9]+' <<< "$VERSION")"

        pushd ./repo

        # Push new release branch.
        MINOR_VERSION_BRANCH="release/v${MINOR_VERSION}"
        git checkout -b "$MINOR_VERSION_BRANCH"
        git push --set-upstream origin "$MINOR_VERSION_BRANCH"
