name: Publish container to GHCR

permissions: {}

on:
  workflow_call: {}

jobs:
  publish-container:
    name: Publish container
    runs-on: ubuntu-latest
    permissions:
      # "Keyless" container signing
      id-token: write
      # Publish to GHCR.
      packages: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v6
      with:
        path: out

    - name: Login to GHCR
      run: |
        set -eux
        login_to_ghcr() {
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin
        }
        export -f login_to_ghcr
        ./repo/.github/workflows/scripts/retry.sh 5 10 \
          bash -c login_to_ghcr

    - name: Install cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      with:
        cosign-release: 'v2.5.0'

    - name: Publish container
      run: |
        set -x
        VERSION=$(<"out/version/version.txt")

        DOCKER_FULL_PATH="ghcr.io/${{ github.repository_owner }}/imagecustomizer:$VERSION"

        for HOST_ARCH in amd64 arm64
        do
          # Import the image from the tarball.
          OUTPUT="$(docker image load -i "out/container-$HOST_ARCH/imagecustomizer.tar.gz" 2>&1)"
          TARBALL_TAG="$(echo $OUTPUT | awk '{print $3}')"

          DOCKER_ARCH_FULL_PATH="$DOCKER_FULL_PATH-$HOST_ARCH"

          docker tag "$TARBALL_TAG" "$DOCKER_ARCH_FULL_PATH"

          push_image_and_sign() {
            local image_push_out="$(docker image push "$1")"
            local digest="$(grep -E --only-matching 'digest: \S*' <<< "$image_push_out" | cut -d ' ' -f 2)"
            cosign sign --yes "$1@${digest}"
          }
          export -f push_image_and_sign

          # Push and sign arch specific tag.
          ./repo/.github/workflows/scripts/retry.sh 5 10 \
            bash -c 'push_image_and_sign "$@"' _ "$DOCKER_ARCH_FULL_PATH"

          # Create multi-arch manifest.
          ./repo/.github/workflows/scripts/retry.sh 5 10 \
            docker manifest create "$DOCKER_FULL_PATH" --amend "$DOCKER_ARCH_FULL_PATH"
        done

        push_manifest_and_sign() {
          local digest="$(docker manifest push "$1")"
          cosign sign --yes "$1@${digest}"
        }
        export -f push_manifest_and_sign

        # Push and sign multi-arch manifest.
        ./repo/.github/workflows/scripts/retry.sh 5 10 \
          bash -c 'push_manifest_and_sign "$@"' _ "$DOCKER_FULL_PATH"
