name: Publish container to GHCR

permissions: {}

on:
  workflow_call: {}

jobs:
  publish-container:
    name: Publish container
    runs-on: ubuntu-latest
    permissions:
      # "Keyless" container signing
      id-token: write
      # Publish to GHCR.
      packages: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v5
      with:
        path: out

    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${GITHUB_ACTOR}" --password-stdin

    - name: Install cosign
      uses: sigstore/cosign-installer@d58896d6a1865668819e1d91763c7751a165e159 # v3.9.2
      with:
        cosign-release: 'v2.5.0'

    - name: Publish container
      run: |
        set -x
        VERSION=$(<"out/version/version.txt")

        DOCKER_FULL_PATH="ghcr.io/${{ github.repository_owner }}/imagecustomizer:$VERSION"

        for HOST_ARCH in amd64 arm64
        do
          # Import the image from the tarball.
          OUTPUT="$(docker image load -i "out/container-$HOST_ARCH/imagecustomizer.tar.gz" 2>&1)"
          TARBALL_TAG="$(echo $OUTPUT | awk '{print $3}')"

          DOCKER_ARCH_FULL_PATH="$DOCKER_FULL_PATH-$HOST_ARCH"

          # Push arch specific tag.
          docker tag "$TARBALL_TAG" "$DOCKER_ARCH_FULL_PATH"
          IMAGE_PUSH_OUT="$(docker image push "$DOCKER_ARCH_FULL_PATH")"

          DIGEST="$(grep -E --only-matching 'digest: \S*' <<< "$IMAGE_PUSH_OUT" | cut -d ' ' -f 2)"
          cosign sign --yes "${DOCKER_ARCH_FULL_PATH}@${DIGEST}"

          # Create multi-arch manifest.
          docker manifest create "$DOCKER_FULL_PATH" --amend "$DOCKER_ARCH_FULL_PATH"
        done

        # Push multi-arch manifest.
        DIGEST="$(docker manifest push "$DOCKER_FULL_PATH")"
        cosign sign --yes "${DOCKER_FULL_PATH}@${DIGEST}"
