# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: Release (patch)

permissions:
  # Push release branch and publish release.
  contents: write
  # Publish to GHCR.
  packages: write
  # "Keyless" container signing and Azure login.
  id-token: write
  # GitHub pages publish.
  pages: write

on:
  # Allow pipeline to be run manually.
  workflow_dispatch: {}

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      publishType: patch
      runFunctionalTests: true

  publish-container:
    uses: ./.github/workflows/publish-container.yml
    needs:
    - build

  publish-release:
    uses: ./.github/workflows/publish-release.yml
    with:
      isLatestRelease: ${{ needs.build.outputs.isLatestRelease }}
    needs:
    - build

  publish-github-pages:
    uses: ./.github/workflows/publish-github-pages.yml
    if: ${{ needs.build.outputs.isLatestRelease == 'true' }}
    needs:
    - build
