# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: Tests functional

permissions: {}

on:
  workflow_call:
    inputs:
      hostArch:
        required: true
        type: string
      hostDistro:
        required: true
        type: string

env:
  EXPECTED_GO_VERSION: "1.24.1"
  ORAS_VERSION: "1.2.3"

jobs:
  tests-functional:
    name: Functional test suite - ${{ inputs.hostDistro }} ${{ inputs.hostArch }}
    runs-on:
    - self-hosted
    - 1ES.Pool=${{ inputs.hostDistro == 'azl3' && (inputs.hostArch == 'amd64' && 'maritimus-github-runner-azl3-amd64' || 'maritimus-github-runner-azl3-arm64') || (inputs.hostArch == 'amd64' && 'maritimus-github-runner-ubuntu2404-amd64' || 'maritimus-github-runner-ubuntu2404-arm64') }}
    permissions:
      contents: read
      # Azure login.
      id-token: write
    environment: public
    steps:
    - name: setup go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: "${{ env.EXPECTED_GO_VERSION }}"

    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: repo
        persist-credentials: false

    - name: Install prerequisites (AZL3)
      if: inputs.hostDistro == 'azl3'
      run: |
        set -eux

        # Install Image Customizer prerequisities.
        PACKAGES="qemu-img rpm coreutils util-linux systemd openssl \
            sed createrepo_c squashfs-tools cdrkit e2fsprogs dosfstools \
            xfsprogs btrfs-progs zstd veritysetup grub2 binutils lsof \
            git azure-cli systemd-ukify"

        # grub2-pc is only available on x86.
        if [[ "$HOST_ARCH" == "amd64" ]]; then
            PACKAGES+=" grub2-pc"
        fi

        sudo ./repo/.github/workflows/scripts/retry.sh 5 5 \
            tdnf install -y $PACKAGES

        sudo tdnf list installed
      env:
        HOST_ARCH: ${{ inputs.hostArch }}

    - name: Install prerequisites (Ubuntu 24.04)
      if: inputs.hostDistro == 'ubuntu2404'
      run: |
        set -euxo pipefail

        # Install Image Customizer prerequisities.
        sudo apt list --installed
        sudo apt update -y

        sudo apt -y install qemu-utils rpm coreutils util-linux mount fdisk udev openssl \
          sed createrepo-c squashfs-tools genisoimage e2fsprogs dosfstools \
          xfsprogs btrfs-progs zstd cryptsetup-bin grub2-common binutils lsof systemd-ukify

        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

    - name: Azure Login
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
      with:
        client-id: ${{ vars.AZURE_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

    - name: Download base images
      run: |
        set -eux

        if [[ "$HOST_DISTRO" == "azl3" ]]; then
          ./repo/.github/workflows/scripts/download-image.sh "$AZURE_STORAGE" "$AZURE_CONTAINER" \
            "azure-linux/core-efi-vhdx-2.0-$HOST_ARCH" azl-core-efi-2.0
          ./repo/.github/workflows/scripts/download-image.sh "$AZURE_STORAGE" "$AZURE_CONTAINER" \
            "azure-linux/core-efi-vhdx-3.0-$HOST_ARCH" azl-core-efi-3.0
        elif [[ "$HOST_DISTRO" == "ubuntu2404" ]]; then
          ./repo/.github/workflows/scripts/download-image.sh "$AZURE_STORAGE" "$AZURE_CONTAINER" \
            "ubuntu/azure-cloud-22.04-$HOST_ARCH" ubuntu-22.04
          ./repo/.github/workflows/scripts/download-image.sh "$AZURE_STORAGE" "$AZURE_CONTAINER" \
            "ubuntu/azure-cloud-24.04-$HOST_ARCH" ubuntu-24.04
        else
          echo "ERROR: unsupported hostDistro: $HOST_DISTRO" >&2
          exit 1
        fi
      env:
        HOST_DISTRO: ${{ inputs.hostDistro }}
        HOST_ARCH: ${{ inputs.hostArch }}
        AZURE_STORAGE: ${{ vars.AZURE_STORAGE }}
        AZURE_CONTAINER: ${{ vars.AZURE_CONTAINER }}

    - name: Test setup
      run: |
        set -eux

        pushd repo/toolkit/tools

        # Download the test RPM files.
        ./internal/testutils/testrpms/download-test-utils.sh -t 3.0 -d azurelinux

        mkdir -p out/testResults

    - name: Run tests
      run: |
        set -eux
        set -o pipefail

        pushd repo/toolkit/tools

        AZL2_VHDX="../../../azl-core-efi-2.0/image.vhdx"
        AZL3_VHDX="../../../azl-core-efi-3.0/image.vhdx"
        UBUNTU2204_VHD="../../../ubuntu-22.04/image.vhd"
        UBUNTU2404_VHD="../../../ubuntu-24.04/image.vhd"

        FAILED=0

        sudo env "PATH=$PATH" go test -v \
          -coverprofile=out/testResults/api.cov -covermode count \
          ./imagecustomizerapi \
          2>&1 \
          | tee out/testResults/api.txt \
          || FAILED=$(( $FAILED | 1 ))

        sudo env "PATH=$PATH" go test -v \
          -coverprofile=out/testResults/lib.cov -covermode count \
          -timeout 120m \
          ./pkg/imagecustomizerlib \
          -args \
          --base-image-core-efi-azl2 "../../$AZL2_VHDX" \
          --base-image-core-efi-azl3 "../../$AZL3_VHDX" \
          --base-image-azure-cloud-ubuntu2204 "../../$UBUNTU2204_VHD" \
          --base-image-azure-cloud-ubuntu2404 "../../$UBUNTU2404_VHD" \
          2>&1 \
          | tee out/testResults/lib.txt \
          || FAILED=$(( $FAILED | 2 ))

        exit $FAILED

    - uses: actions/upload-artifact@v5
      if: ${{ !cancelled() }}
      with:
        name: tests-results-functional-${{ inputs.hostDistro }}-${{ inputs.hostArch }}
        path: repo/toolkit/tools/out/testResults
